.env
*.zip
arguana
fiqa
hotpotqa
nfcorpus
nq
trec-covid
webis-touche2020
msmarco
scifact
quora
scidocs
fever
climate-feverd
dbpedia-entity
cqadupstack
climate-fever
*.log
__pycache__
sandbox/*
/__pycache__
synthetic_dataset\text_dataset_template.json
extraction_output/
.idea/misc.xml
.idea/modules.xml
.idea/Thesis.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
*.json
*.csv
